<!-- header -->
<header class="left-header">
  <!-- logo -->
  <div class="logo">
    <a href="{{ site.url }}"><img src="/image/logo.svg" alt=""><span>Plus My Coding</span></a>
  </div>

  <!-- nav -->
  <nav>
    <ul class="nav-wrap">
      <li><a href="{{ site.url }}/all">ALL</a></li>
      <li><a href="{{ site.url }}/python">Python</a></li>
      <li><a href="{{ site.url }}/django">django</a></li>
      <li><a href="{{ site.url }}/github">github</a></li>
      <li><a href="{{ site.url }}/SQL">SQL</a></li>
      <li>
        <ul>
          <li><a href="https://github.com/younlab" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.facebook.com/d.sehyeon" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
