<div class="new-posts-title">
  <h2>Posts Update</h2>
  <p>All Posts Number : {{ site.posts | size }}</p>
</div>
<ul class="new-posts">
  {% for post in site.posts limit:7 %}
  <li class="new-post-list">
    <a href="{{ post.url }}" class="post-list-contents">
      {% assign foundImage = 0 %}
        {% assign images = post.content | split:"<img " %}
        {% for image in images %}
          {% if image contains 'src' %}

              {% if foundImage == 0 %}
                  {% assign html = image | split:"/>" | first %}
                  <img class="new-post-list-image" {{ html }} />
                  {% assign foundImage = 1 %}
              {% endif %}
          {% endif %}
        {% endfor %}
      <div class="new-post-list-bg">
        <h3 class="new-post-list-title">{{ post.title }}</h3>
        <p class="new-post-list-excerpt">{{ post.content | strip_html | truncatewords: 15 }}</p>
        <p class="new-post-list-date"><time datetime="{{ post.date | date: " %Y-%m-%d " }}">{{ post.date | date_to_long_string }}</time></p>

      </div>
    </a>
  </li>
  {% endfor %}
</ul>
